.paginar{
    background-color: $Light-gray;
    padding: 40px 0 30px 0;
    &__list{
        justify-content: center;
    }
    &__link{
        color: $Raisin-black;
        font-size: $small;
        &.paginar__link--selected{
            background-color: $Nickel;
            color: $White;
        }
    }
    .page-item:first-child .page-link{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .page-item:last-child .page-link{
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}
    
