//Colores
$Eerie-black: #121619;
$Raisin-black: #222323;
$Nickel: #6c6e70;
$Fuzzy-wuzzy: #e56353;
$Ruddy-pink: #d76c69;
$Spanish-pink: #ecbcba;
$White: #fff;
$Platinum: #e6e7e7;
$Light-gray: #d1d1d1;


//Tipografias
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

$regular: 400;
$ligth: 300;
$blac-regular-italic: 900;


//font-sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;


