.nav{
    &.nav--in-header{
        background-color: $Eerie-black;
        padding: 12px; 
    }
    &__logo{
        width: 70px;
    }
}
.menu-header{
    margin-top: 15px;
    justify-content: flex-end;
    &__item {
        .menu-header__link{
            font-size: $small;
            color: $White;
            margin-left: 18px;
            &.menu-header__link:hover{
                color: $Spanish-pink;
                text-decoration: none;
            }
            &.menu-header__link--selected{
                color: $Ruddy-pink;
            }  
        }  
    }
} 