.content{
    margin: 55px 0 90px 0;
    &__text{
        line-height: 2.1;
        margin: 20px 0 40px 0;
        .conten__text--span{
            color: $Spanish-pink;
        }
    }
}

.autor{
    border-top: 1px solid $Platinum;
    &__content{
        margin: 50px 0;
    }
    &__thumbnail{
        border-radius: 50%;
        width: 150px; 
    }
    &__body, &__text{
        margin-top: 29px;
    }
    &__title{
        font-size: $x-large;
    }
    &__red{
        color: $Spanish-pink;
    }
    &__text--line{
        line-height: 2;    
    }
    
}